.main-page {
    width: 960px;
    margin: auto;
    margin-top: 5%;
    text-align: center;
}

#logo-l {
    margin: auto;
    font-size: 72px;
    font-weight: 900;
    user-select: none;
}

.form-panel {
    width: 300px;
    padding: 15px 20px;
    border-radius: 8px;
    border: solid 2px black;
    margin: auto;
    margin-top: 20px; 
    display: flex;
    align-items: center;
    flex-direction: column;
}
